body {
    margin: 0;
    padding: 0;

}
.container_aside_materias h1 {
    margin-left: 4rem;
    color: black;
}
a {
    margin: 0;
    padding: 0;
}
.usado {
    border-left: 5px solid rgba(88, 73, 226, 1);
    background: linear-gradient(0deg, rgba(35, 31, 35, 0.5) 100%, rgba(29, 58, 100, 1) 0%);
    width: 100%;
    margin-right: 1rem;
    box-sizing: border-box;
}
.campos:hover {
    background-color: rgba(38, 24, 24, 0.1);
    margin-right: 1rem;
}
.campos {
    display: flex;
    align-items: center;
    font-weight: 600;
    padding-left: 0;
    justify-content: left;
    width: 100%;
    margin-left: 1rem;
}
.campos img {
    width: 1.6rem;
}
.container_conteudo_materia {
    display: flex;
    align-items: center;
}
.container_conteudo_info {
    display: flex;
    /* align-items: stretch; */
    gap: 5rem;
    margin-left: 3rem;
    height: auto;
}
.container_principal {
    flex-direction: column;
    padding: 0.5rem 1rem 1rem 1rem;
    border-radius: 2rem;
    justify-content: center;
    flex: 1;
    width: auto;
    min-width: 12rem;
    box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.3);

}
.container_principal div p {
    margin: 0;
    font-size: 3.5rem;
    justify-content: center;
}
.container_principal p {
    margin: 0;
    font-size: 2rem;
}
.container_principal img {
    width: 3rem;
}
.container_principal div {
    display: flex;
    font-size: 2.5rem;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}
.media {
    background-color: rgba(34, 48, 141, 1);
}
.frequencia {
    background-color: rgba(34, 197, 94, 0.8);
}
.prova {
    background-color: rgba(88, 73, 226, 0.8);
}
.container_ramo {
    display: flex;
    align-items: center;
    border-radius: 2.5rem;
    justify-content: center;
    padding: 0rem 1rem 0rem 1rem;
    gap: 1.7rem;
    box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.3);
}
.container_ramo:nth-child(2) {
    margin-top: 1rem;
}
.container_ramo h1 {
    margin: 0;
    color: white;
    font-size: 3rem;
}
.container_ramo p {
    font-size: 1.2rem;
}

.pendencias {
    background-color: rgba(244, 180, 0, 1);
}

.mensagens {
    background-color: rgba(34, 48, 141, 1);

}
#notas {
    font-size: 2rem;
    margin-left: 4rem;
    color: black;
}
.container_notas {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-items: stretch;
}
.container_card {
    border-radius: 2rem;
    width: 17rem;
    height: 10rem;
    color: black;
    box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.3);

}
/* .bom{
    border: 2px solid rgba(34, 197, 94, 1);

}
.medio{
    border: 2px solid rgba(244, 180, 0, 1);

}
.ruim{
    border: 2px solid rgba(229, 57, 53, 1);

} */
.container_card p {
    font-size: 1.4rem;
    margin: 0;
    box-sizing: border-box;
    margin-left: 10%;

}
.container_card hr {
    width: 80%;
}
.container_card div {
    display: flex;
    font-size: 1.6rem;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}
.nota p {
    font-size: 3rem;
}
.container_aulas {
    display: flex;
    justify-content: space-between;
    color: black;
}
.container_aulas img {
    width: 2rem;
}
.conteiner_conteudo_aulas div {
    align-items: center;
    gap: 3rem;

}
.conteiner_conteudo_aulas {
    max-height: calc(5.2rem * 3);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-x: hidden;
    direction: rtl;
    margin-left: 2rem;
    margin-top: 3rem;
    padding: 1rem;
}
.conteiner_conteudo_aulas>div {
    direction: ltr;
}
.aulas {
    display: flex;
    align-items: center;
    gap: 1rem;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 1.6rem;
    width: 26rem;
    padding: 1rem;
    margin-left: 2rem;
}
.aulas p {
    margin: 0;
}
.aulas:nth-child(2) {
    margin-left: 3rem;
}
#datas_prova {
    margin-top: 2rem;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 1.6rem;
    width: 25rem;
    overflow-y: auto; 
    overflow-x: hidden;
    position: relative;
    box-sizing: border-box;
    height: 20rem;
}
#datas_prova div {
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    padding: 0.5rem;

}
.datas_prova_header {
    font-size: 1.4rem;
    background-color: white; 
    height: 6vh;
    position: sticky;   
    top: 0;
    z-index: 5; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#datas_prova hr {
    margin: 0;
    border: 0;
    border-top: 1px solid #eee;
}
#detalhes_provas {
    display: flex;
    margin: 0;

}