body {
    margin: 0;
    padding: 0;
    background: url(/WEB-INF/assets/fundo_inicio.png);
    overflow: hidden;
}

#icones {
    display: flex;
    justify-content: center;
    gap: 20rem;
    margin-top: 12rem;
}

#icones img {
    width: auto;
    max-height: 16rem;
    max-width: 29rem;
}


#conteudo {
    background-color: blue;
    height: 100vh;
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    color: aliceblue;
    font-size: 1.5rem;
}

#conteudo h1 {
    margin: 0;
}

#conteudo div{
    display: flex;
    align-items: center;
    gap: 2rem;
}
#proxima{
    text-decoration: none;
    list-style: none;
    color: white;
    /* filter: drop-shadow(-5px 10px 10px rgba(0, 0, 0, 3));  */
    /* box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.3); */
}