body{
    margin: 0;
    padding: 0;
}
h1{
    color: black;
}
#ola{
    font-size: 2rem;
    color: gray;
}
#ola img{
    width: 3rem;
}
#ola strong{
    color: black;
}
#container_dashboard{
    margin-left: 4rem;
    flex-direction: column;
    display:flex;
}
.secao_card{
    display: flex;
    align-items: center;
    gap: 7rem;
    justify-content: space-between;
}

.card {
    padding: 0.5rem 1rem 1rem 1rem;
    border-radius: 2rem;
    justify-content: center;
    flex: 1;
    width: 10rem;
    color: black;
    height: 5rem;
    display: flex;
    flex-direction:column;
    border: 2px solid green;
    box-shadow: -5px 10px 10px rgba(0, 0, 0, 0.3);
}

.card p {
    margin: 0;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.card p:nth-child(2){
    font-size: 3rem;
}







