body {
    margin: 0;
    font-family: 'Montserrat';
    padding: 0;
    background: url("../WEB-INF/assets/images/fundo.png");
    display: flex;
    justify-content: center;

}
#titulo{
    margin-left: 5rem;
    color:rgba(70, 20, 255, 20);
    font-weight: 700;
}

#container_login {
    background: url("../WEB-INF/assets/images/fundoLogin.png");
    width: 30rem;
    height: 40rem;
    margin-top: 2rem;

}

#container_dados {
    margin-top: 3.5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
}
#container_botoes{
    display: flex;
    justify-content: center;
    padding-left:1rem ;
    gap: 2rem;
    margin-top: 7rem;

}

.botoes{
    width: 10rem;
    font-size: 1.2rem;
    padding: 0.7rem;
    border-radius: 30rem;
    display: flex;
    justify-content: center ;
    color: aliceblue;
    background-color: rgb(88, 73, 226);
    border: none;
}

.campo_input {
    border: 3px solid rgb(4, 4, 255);
    width: 18rem;
    border-radius: 30rem;
    font-size: 0.9rem;
    margin-left: 4.6rem;
    padding: 0.7rem;

}
